Desktop
Documents
Downloads
Dropbox
Music
Pictures
Public
src
Templates
Videos
VirtualBox VMs

examples.desktop
Flatabulous

.bash_profile
.bashrc
.bash_history
.bash_logout

.ICEauthority
.Xauthority
.bundle/
.cache/
.compiz/
.dmrc
.dropbox-dist/
.dropbox/
.fehbg
.fonts/
.gconf/
.gem/
.gnome/
.gtkrc-2.0
.gtkrc.bak
.histfile
.icons/
.irssi/
.linuxbrew/
.local/
.macromedia/
.mozilla/
.node-gyp/
.nv/
.nvm/
.pki/
.profile
.pulse-cookie
.selected_editor
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.themes/
.thunderbird/
.v8flags.5.4.500.43.myared.json
.vim/
.viminfo
.wget-hsts
.xsession
.xsession-errors
.xsession-errors.old
.yarnrc
.zcompdump

